<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.manav.allinoneandroidapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AllInOneAndroidApp">
        <activity android:name=".PostDataActivity"></activity>
        <activity android:name=".SinglePostDetailsActivity" />
        <activity android:name=".JSONPlaceholderCRUDActivity" />
        <activity android:name=".BroadcastActivity" />
        <activity android:name=".RetroOnePhotActivity" />
        <activity
            android:name=".DashboardActivity"
            android:theme="@style/Theme.DashboardTheme" />
        <activity android:name=".BottomNavActivity" />
        <activity android:name=".TabActivity" />
        <activity android:name=".RecyclerViewActivity" />
        <activity android:name=".LoadJSONActivity" />
        <activity android:name=".RestApiActivity" />
        <activity android:name=".HomeScreenActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".BroadcastActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.AIRPLANE_MODE" />
            </intent-filter>
        </receiver> <!-- Mention the service name here -->
        <service android:name=".services.MyBGMusicService" />
    </application>

</manifest>